flows.json
[{"id":"351fa5f7720bd30d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2176ac910a287953","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"968bc6c0c070d4f7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b4f54c439c237a6f","type":"ui_group","name":"Default","tab":"2176ac910a287953","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a6526ec1b4e7f1b3","type":"ui_button","z":"351fa5f7720bd30d","name":"","group":"b4f54c439c237a6f","order":4,"width":"3","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":40,"wires":[["0bf45f923900e20c","b7fc3778ffd7d636"]]},{"id":"784b0c214f466fbd","type":"ui_gauge","z":"351fa5f7720bd30d","name":"","group":"b4f54c439c237a6f","order":1,"width":0,"height":0,"gtype":"gage","title":"Random","label":"units","format":"{{value | number:5}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":480,"y":160,"wires":[]},{"id":"0bf45f923900e20c","type":"ui_chart","z":"351fa5f7720bd30d","name":"","group":"b4f54c439c237a6f","order":2,"width":0,"height":0,"label":"Monitor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":480,"y":40,"wires":[[]]},{"id":"808c9c756de6216b","type":"ui_button","z":"351fa5f7720bd30d","name":"","group":"b4f54c439c237a6f","order":3,"width":"3","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":160,"wires":[["3979e2cdefc6443c"]]},{"id":"3979e2cdefc6443c","type":"change","z":"351fa5f7720bd30d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["0bf45f923900e20c","784b0c214f466fbd"]]},{"id":"b7fc3778ffd7d636","type":"change","z":"351fa5f7720bd30d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":100,"wires":[["784b0c214f466fbd"]]}]